.main-navbar .navbar-nav .dropdown .dropdown-menu li a:hover{
    color: #000;
    border-radius: 8px;
}
.main-navbar .navbar-nav .dropdown .dropdown-menu li a{
    border-radius: 8px;
}
.main-navbar {
    background: #000000;
    padding: 0 20px;
    .navbar{
        .navbar-brand{
            margin-right: 0;
        }
    }
    .navbar-nav
    {
       width: 100%;
       justify-content: flex-end;
        .nav-link{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: rgba(196, 196, 196, 0.95);
            margin-right: 45px;
            position: relative;
        }
        .dropdown{
            .dropdown-menu{
                background: #0E1237;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            padding: 15px;
            position: absolute;
            left: -80px;
            li{
                a{
                    color: #fff;
                }
            }
            .dropdown-divider{
                color: #fff;
            }
            }
        }
        .input-field{
            position: relative;
            margin-right: 23px;
            input{
                border: 2px solid #3EA75B;
                border-radius: 18px;
                background: transparent;
                width: 407px;
                height: 31px;
                padding: 8px 25px;
                color: #FFFFFF !important;
                &::placeholder{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px !important;
                    color: rgba(255, 255, 255, 0.85) !important;
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                padding: 8px 6px;
            }
        }
      
    } 

    button{
        border: 2px solid #3EA75B !important;
        color: rgba(255, 255, 255, 0.85);
        border-radius: 18px;
        background: transparent;
        padding: 7px 16px;
        display: inline-block;
    }
    .profile{
        width: 259px;
        margin-left: 22px !important;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .hbhcdbh{
        padding-left: 11px;
    }
    li a:hover{
        color: #f6c325 !important;
    }
}

.togg i{
    color: #FFFFFF;
}
      

.marg{
    margin-top: 20px;
}
@media (max-width: 1980px) {
    .main-navbar .navbar-nav{
        justify-content: space-around;
    }
}
@media (max-width: 350px) {
    .navbar-brand{
        img{
            width: 150px;
        }
    }
}
@media (max-width: 1500px) {
    .main-navbar .navbar-nav .nav-link{
        margin-right: 12px;
    }
}
@media (max-width: 1380px) {
    .main-navbar .navbar-nav .input-field input{
        width: 360px;
    }
}
@media (max-width: 1280px) {
    .main-navbar .navbar-nav .input-field input{
        width: 259px;
    }
}
@media (max-width: 1199px) {
    .profilenav{
        display: none;
    }
    .main-navbar .navbar-nav .input-field input{
        width: 100%;
    }
    .main-navbar .sbvsx{
        display: flex;
        margin: 0 auto;
    }
    .main-navbar .navbar-nav .nav-link{
        text-align: center;
        margin-right: 0px;
    }
    .main-navbar .navbar-nav .nav-item.active .nav-link::before{
        content: "";
    bottom: 0px;
    right: 0;
    left: 0;
    position: absolute !important;
    width: 14% !important;
    margin: 0 auto;
    height: 3px !important;
    }
    .main-navbar {
        .form-inline {
            justify-content: center;
        }
    }
    
}

@media (max-width: 991px) {
    
    .main-navbar {
        .formm-mm{
            .input-bbb{
                margin-left: 0px;
            }
        }
        .form-inline {
            justify-content: center;
        }
    }
    .main-navbar .navbar-nav .nav-link{
        text-align: center;
        margin-right: 0px;
    }
    .main-navbar .navbar-nav .nav-item.active .nav-link::before{
        content: "";
        bottom: 0px;
        right: 0;
        left: 0;
        position: absolute !important;
        width: 14% !important;
        margin: 0 auto;
        height: 3px !important;
    }
    .main-navbar .navbar-nav .dropdown .dropdown-menu{
        position: unset;
    }
}

@media (max-width: 600px) {
    .main-navbar .navbar .navbar-brand{
        margin-right: 40px;
    }
    .hbdsjbd{
        width: 167px;
    }
    .modal-body .main_text .bhvchvh{
        font-size: 43px !important;
    }
}

.buttonsss{
    background-color: transparent;
    border: none;
}


@media (max-width: 400px) {
    .navbar-brand{
        img{
            width: 167px;
        }
    }
}

// .main-navbar{
//     border-bottom: 1px solid #2D0D3C;
// //     background: #2D0D3C;
// // filter: blur(500px);
// }


@media (max-width: 400px) {
    .modal-body .main_text .bhvchvh{
        font-size: 30px !important;
    }
}
@media (max-width: 350px) {
    .navbar-brand{
        img{
            width: 150px;
        }
    }
}

.sbjdfbsj{
    // visibility: hidden;
    display: none;
}
.align-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
   
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {

    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #FFFFFF;
    background-color: #FFFFFF;
    p{
        a{
            color: #0B0E34;
        }
    }
}

.modal-header .close{
    background: unset !important;
  
    left: 12.8px !important;
}
.heading_modal{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 8px;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    color: #131524 !important;
}

.para_modal{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    color: #AAAAAA;
    margin-bottom: 21px;
}

.mb_bottom{
    margin-bottom: 42px;
}
.inner_btn{
    img{
        margin-right: 10px;
    }
}

.navbar-expand-xl .navbar-collapse{
    align-items: flex-end !important;
}


.padd1{
    padding: 0 !important;
}

.align-left{
    margin-top: 30px;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.profilenav{
    margin-left: 30px;
}
.main-navbar .navbar-nav{
    margin-top: 30px;
}