.featured{
    .upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
        .left{
            h1{
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                color: #FFFFFF;
            }
        }
        .right{
            button{
                padding: 6px 11px;
                border: 2px solid #3EA75B !important;
                border-radius: 18px;
                background: transparent;
                height: 31px;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 0px;
                color: rgba(255, 255, 255, 0.85);
            }
        }
    }
    .bottom-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
       .cards{
        position: relative;
        padding: 12px;
        background: rgba(3, 33, 74, 0.8);
        border-radius: 16px;
        margin-bottom: 40px;
        width: 280px;
        height: 333px;
        .card-rounded{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .like{
            position: absolute;
            top: 14px;
            right: 16px;
        }
       }
       .bottom-item{
           display: flex;
           justify-content: flex-start;
           align-items: baseline;
           margin-top: 22px;
           .profile{
               margin-right: 12px;
           }
           .text{
               margin-right: 21px;
               h6{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
                color: #FFFFFF;
               }
               p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: rgba(131, 147, 175, 0.95);
                margin-bottom: 27px;
               }
           }
           
       }
       .bottom-text{
           p{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #15AC33;
            &:last-child{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                padding-top: 7px;
                margin-bottom: 57px;
            }
           }
       }
    }
}


@media(max-width:991px){
    .featured .upper{
        flex-wrap: wrap;
    }
    .featured .upper .left{
        width: 100% !important;
    }
    .featured .upper .right{
    width: 100%;
    display: flex;
    justify-content: center;
    }
    .featured .upper .left h1{
        text-align: center;
        margin-bottom: 10px;
    }
}

@media(max-width:430px){
    .featured .upper{
        flex-wrap: wrap;
    }
    .featured .upper .left{
        width: 100% !important;
    }
    .featured .upper .right{
    width: 100%;
    display: flex;
    justify-content: center;
    }
}